# pyhmmer cannot be compiled in RTD, so we get a wheel from the last release
--extra-index-url https://git.embl.de/api/v4/projects/3638/packages/pypi/simple
pyhmmer

# sphinx documentation dependencies
semantic_version ~=2.8
sphinx ~=3.0
recommonmark ~=0.6
pygments-style-monokailight ~=0.4
ipython ~=7.11
pygments ~=2.4
nbsphinx ~=0.5

# sphinx-bootstrap-theme ~=0.7 with patched admonition
https://github.com/althonos/sphinx-bootstrap-theme/archive/master.zip

# dependencies to run the example notebook(s)
dna_features_viewer ~=3.0
