# build dependencies
cython ~=3.0
scikit-build-core
ninja

# run dependencies
psutil ~=5.0

# test dependencies
importlib-resources ; python_version < '3.9'

# coverage dependencies
coverage ~=4.0 ; python_version == '3.6'
coverage ~=7.0 ; python_version >= '3.7'

# deployment dependencies
build
auditwheel
